.main{
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    text-align: center;
}

.background-video {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%; 
    z-index: 0;
    left: 0%;

}

.main2,
.main2_,
.content2 {
    background-image: url('../images/image.png');
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%; 
    z-index: 0;
    left: 0%;
    align-items: center;
    text-align: center;
}


.content{
    position: relative;
    z-index: 1; 
    color: green;
    text-align: center;
    top: 30%;    
    padding: 20px; 
}

.message{
    padding-top: 50%;
    padding-left: 20px;
    padding-right: 20px;
    color: yellow;
}




.content2{  
    padding: 20px;
}

.content2_{
    color: red; 
    text-align: center;
    display: flex;
    flex-direction: column;
}


.fade-in-button2{
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 20px;
}

.fade-in1,
.fade-in2,
.fade-in1,
.fade-in2,
.fade-in3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: relative; 
}

.fade-in1{
    opacity: 0;
    animation: fadeIn 10s forwards;
    
  }

.fade1{
    opacity: 0;
    animation: fadeIn 1s forwards;
    font-size: 100px;
}
.fade2{
    opacity: 0;
    animation: fadeIn 4s forwards;
    font-size: 100px;

}

.fade3{
    opacity: 0;
    animation: fadeIn 6s forwards;
    font-size: 100px;

}

.fade4{
    opacity: 0;
    animation: fadeIn 10s forwards;
    color: yellow;
}

.fade-in2,
.yes-button,
.no-button{
    opacity: 0;
    animation: fadeIn 20s forwards;
  }


.fade-in-button2_{
    margin-top: 0;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.content2_{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;

}
  



.yes-button,
.no-button{
    width: 100px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 9px green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: yellow;
    background-color: deepskyblue;
}