<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../media/styles/styles.css">
</head>
<body>
    <div class="main2">
        <div class="content2">
            <div class="message">
                <p class="fade-in1">Горжуууусь!!<br> </p>
                <p class="fade-in2">По статистике, последние полчаса-час, которые дают нам чувство, что мы выспались - критически важны для нашего ментального и физического здоровья!</p>
            </div>
            <div class="fade-in-button2">
                <button class="yes-button" onclick="third_function()">ok</button>
            </div>
        </div>
    </div>
    <script src="../media/js/index.js"></script>

</body>
</html>